<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <style type="text/css">
    nav {
      margin: 10px;
    }
  </style>
</head>
<body>
  <header>
    <h1><%= title %></h1>

    <nav>
      <ul>
<% makes.each do |make| %>
        <li><a href="/<%= ERB::Util.url_encode(make) %>"><%= make %></a></li>
<% end %>
      </ul>
    </nav>
  </header>

<% thumbnails.each do |thumbnail| %>
  <img src="<%= thumbnail[:src] %>" alt="<%= thumbnail[:alt] %>" />
<% end %>
</body>
</html>

